.header {
  @apply py-3 bg-header max-w-[100vw];

  &__content {
    @apply flex items-center relative;
  }

  &__logo {
    @apply flex items-center;
  }

  &__nav {
    @apply ml-[42px] flex items-center;

    .link {
      @apply relative text-white flex items-center opacity-50 transition;

      &:hover {
        @apply opacity-100;
      }

      &::after {
        content: "";
        @apply absolute rounded mt-[10px] top-full left-0 w-0 h-[2px] bg-white transition-all;
      }

      &._active {
        @apply opacity-100;

        &::after {
          content: "";
          @apply w-full;
        }
      }

      &__icon {
        @apply mr-2 text-[20px] text-[inherit];
      }

      &__name {
        @apply text-[inherit] text-body-1 font-medium;
      }

      &:not(:first-child) {
        @apply ml-5;
      }
    }
  }

  &__user {
    @apply flex-grow flex items-center justify-end;
  }
}

.settings {
    @apply absolute right-0 bg-white rounded-b-lg translate-y-[-100%] z-[-1] shadow-xl select-none transition duration-300;
    top: calc(100% + 0.75rem);
    
    &._opened {
        @apply translate-y-0;
    }
    
    &__list {
        @apply py-2;
    }
    
    &__link {
        @apply px-3 pr-8 py-2 flex items-center text-header transition cursor-pointer;
        
        * {
            @apply text-[inherit] text-body-2 whitespace-nowrap;
        }
        
        &:hover {
            @apply bg-background;
        }
        
        &._active {
            @apply bg-background cursor-default;
        }
    }
}
