<div class="mt-8">

    <div class="mt-4 flex justify-between items-start">
        <div class="text-[2rem] font-bold">Администраторы</div>
        <button type="button" class="btn" (click)="isNewOpened=true">Добавить администратора</button>
    </div>

    <table *ngIf="admins.length">
        <tr>
            <th>Фото</th>
            <th>Активность</th>
            <th>ФИО</th>
            <th>Контакты</th>
            <th>Организация</th>
            <th>Город</th>
            <th>Нагрузка</th>
            <th>Сотрудников</th>
            <th>Доступ</th>
            <th></th>
        </tr>
        <tr *ngFor="let admin of admins">
            <td>
                <img width="70" height="70" src="{{ admin.getAvatarUrl() }}" alt="">
            </td>
            <td>
                <app-checkbox [id]="admin.id.toString()" [checked]="admin.active"
                    (valueChanged)="adminService.setActive(admin, $event)" />
            </td>
            <td>
                {{ admin.name }}
            </td>
            <td>
                <a *ngIf="admin.phone" href="tel:{{ admin.phone }}">{{ admin.phone }}</a><br>
                <a *ngIf="admin.email" href="mailto:{{ admin.email }}">{{ admin.email }}</a>
            </td>
            <td>
                {{ admin.company.name }}
            </td>
            <td class=" text-gray">
                NULL
            </td>
            <td class=" text-gray">
                NULL
            </td>
            <td>
                {{ admin.company.employees_count }}
            </td>
            <td>
                <span *ngIf="!admin.company.permissions.length">Нет доступа</span>
                <span *ngFor="let permission of admin.company.permissions" class="block -b-[1px]">
                    {{ permission.display_name }}
                </span>
            </td>
            <td class="flex flex-col items-stretch gap-1">
                <button type="button" class="btn-alt btn-alt--error">
                    <fa-icon [icon]="deleteIcon" />
                </button>
            </td>
        </tr>
    </table>
</div>

<app-popup [isOpened]="isNewOpened" (closeEvent)="isNewOpened=false">
    <app-admins-new />
</app-popup>