<div class="mt-8 flex justify-end items-end">
    <div class="flex-grow">
        <div *ngIf="adminService.admins.length" class="title">
            <fa-icon [icon]="adminIcon" class="mr-2 text-[18px]" />
            Администраторы
        </div>
    </div>

    <div class="mb-1 flex items-center">
        <button *ngIf="adminService.filter.search" class="btn-alt leading-[120%] !text-gray hover:!text-error"
            (click)="resetFilter()">
            <fa-icon [icon]="resetIcon" />
            Сбросить
        </button>
        <div class="ml-1 control">
            <input type="text" class="control__input !w-[200px]" [(ngModel)]="adminService.filter.search"
                (ngModelChange)="adminService.updateFilter()" placeholder="поиск" />
        </div>
        <button type="button" class="btn ml-1 leading-[120%]" (click)="adminService.openNew()">
            <fa-icon [icon]="createIcon" />
            Добавить администратора
        </button>
    </div>
</div>

<div *ngIf="adminService.admins.length" class="bg-white border border-border rounded-md rounded-tl-none overflow-hidden">
    <table class="table">
        <tr>
            <th>Фото</th>
            <th class="pr-4">Активность</th>
            <th>ФИО</th>
            <th>Контакты</th>
            <th>Организация</th>
            <th>Город</th>
            <th>Нагрузка</th>
            <th>Кол-во</th>
            <th>Доступ</th>
            <th></th>
        </tr>
        <tr *ngFor="let admin of adminService.admins">
            <td routerLink="/admins/{{admin.id}}" class="cursor-pointer">
                <div class="rounded-full overflow-hidden w-[30px] h-[30px]">
                    <img class="object-cover object-center w-full h-full" src="{{ admin.getAvatarUrl() }}" alt="avatar">
                </div>
            </td>
            <td class="flex items-center justify-center pr-4">
                <app-checkbox [id]="admin.id.toString()" [checked]="admin.active"
                    (valueChanged)="adminService.setActive(admin, $event)" />
            </td>
            <td routerLink="/admins/{{admin.id}}" class="cursor-pointer hover:text-primary">
                {{ admin.name }}
            </td>
            <td>
                <a *ngIf="admin.phone" href="tel:{{ admin.phone }}" class="text-primary hover:underline">{{ admin.phone }}</a>
                <br>
                <a *ngIf="admin.email" href="mailto:{{ admin.email }}" class="text-primary hover:underline">{{ admin.email }}</a>
            </td>
            <td>
                {{ admin.company.name }}
            </td>
            <td class="text-gray">
                Россия, Московская область, Москва
            </td>
            <td>
                Запросов: 500<br>
                Заявок: 400
            </td>
            <td>
                {{ admin.company.employees_count }}
            </td>
            <td>
                <span *ngIf="!admin.company.permissions.length" class="text-gray">Нет доступа</span>
                <span *ngFor="let permission of admin.company.permissions" class="block -b-[1px] text-gray">
                    {{ permission.display_name }}
                </span>
            </td>
            <td class="flex flex-col items-stretch gap-1">
                <button type="button" class="w-[80px] h-full text-[18px] text-error flex items-center justify-center transition hover:text-darkerror" (click)="deleteAdmin(admin)">
                    <fa-icon [icon]="deleteIcon" />
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="mt-2">
    <app-pagination [totalItems]="adminService.totalCount" [itemsPerPage]="adminService.perPage"
        [currentPage]="adminService.currentPage" (pageChange)="adminService.setPage($event)" />
</div>


<app-popup [isOpened]="adminService.isNewOpened" (closeEvent)="adminService.closeNew()">
    <app-admins-new />
</app-popup>