<div class="h-full p-3 flex flex-col items-stretch">
  <div class="flex items-center text-[20px] font-medium text-primary">
    Новости
    <button *ngIf="allowAdd()" type="button" class="add-btn" (click)="news.setMode(news.ENewsModes.ADD)">+</button>
  </div>
  <div class="mt-2 flex-grow overflow-y-scroll">
    <div *ngFor="let item of news.news" class="news" (click)="news.toDetail(item)">
      <div class="flex justify-between items-end">
        <div class="news__title">{{ item.title }}</div>
        <div class="news__date">{{ item.getFormattedDate() }}</div>
      </div>
      <div class="news__content" [innerHTML]="item.content"></div>
    </div>
  </div>
</div>
