<div *ngIf="loginForm" class="login">
    <form [formGroup]="loginForm" (ngSubmit)="login($event)" class="login__form">
        <h1 class="login__title">Вход</h1>

        <div class="mt-5 control" [ngClass]="{
            'control--error': loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            }">
            <input class="control__input" type="email" formControlName="email" placeholder="Эл.почта"
                autocomplete="off" />
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <span *ngIf="loginForm.get('email')?.hasError('required')" class="control__error">
                    Укажите адрес эл.почты
                </span>
                <span *ngIf="loginForm.get('email')?.hasError('email')" class="control__error">
                    Неверный формат адреса эл.почты
                </span>
            </div>
        </div>

        <div class="mt-4 control" [ngClass]="{
            'control--error': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
            }">
            <input class="control__input" type="password" formControlName="password" placeholder="Пароль"
                autocomplete="off" />
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <span *ngIf="loginForm.get('password')?.hasError('required')" class="control__error">
                    Укажите пароль
                </span>
                <span *ngIf="loginForm.get('password')?.hasError('minlength')" class="control__error">
                    Мин. длина пароля {{passwordMinLength}} символов
                </span>
            </div>
        </div>

        <button type="submit" class="m-auto mt-5 w-[202px] btn" [disabled]="loginForm.invalid">Войти</button>

        <button type="button" class="m-auto mt-2 btn-alt" (click)="moveToRecovery()">Забыли пароль?</button>
    </form>
</div>