<div>Создать новость</div>
<form>
    <div>
        <label for="title">Заголовок</label>
        <input type="text" id="title" name="title" placeholder="Заголовок...">
    </div>
    
    <div>
        <label for="content">Текст новости</label>
        <textarea id="content" name="content" placeholder="Текст..."></textarea>
    </div>
    
    <div class="flex justify-end">
        <button type="button" class="btn-alt">Отмена</button>
        <button type="submit" class="btn ml-2">Создать</button>
    </div>
</form>
