<div class="select" [ngClass]="{
    'select--disabled': disabled
}">
    <div class="select__current" [ngClass]="{'select__current--opened': isOpened}" (click)="setIsOpened(!isOpened)">
        <!-- <fa-icon  *ngIf="current?.icon" [icon]="current?.icon" /> -->
        
        <span *ngIf="current">{{current.caption}}</span>
        <span *ngIf="!current" class="opacity-40">Не выбрано</span>

        <span class="select__icon">
            <fa-icon [icon]="selectIcon" />
        </span>
    </div>
    <ul class="select__options" [ngClass]="{
        'select__options--hidden': !isOpened
    }">
        <li class="select__option h-[30px]" [ngClass]="{
            '!h-0 !p-0': !(allowEmpty && current)
        }" (click)="setOption(undefined)">
            - Не выбрано -
        </li>
        <li class="select__option" [ngClass]="{'select__option--current': option == current}"
            *ngFor="let option of options" (click)="setOption(option)">
            {{ option.caption }}
        </li>
    </ul>
</div>